<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center" color="primary">Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="profile-data ion-padding">
    <ion-label class="head1 bold">
      {{profile?.name}}
    </ion-label>

    <ion-avatar class="avatar-image" (click)="changeImage()">
      <img *ngIf="profile && profile.imageUrl; else placeholderAvatar;" [src]="profile?.imageUrl" />
      <ng-template #placeholderAvatar>
        <div class="fallback">
          <p>Select avatar</p>
        </div>
      </ng-template>
    </ion-avatar>

  </div>

  <div class="options-list">

    <ion-button (click)="openEditAccessDataPage()"  fill="clear" color="secondary">
      <ion-label class="caption1">
        Editar Datos de acceso
      </ion-label>
    </ion-button>


    <ion-button (click)="openEditProfilePage()"  fill="clear" color="secondary">
      <ion-label class="caption1">
        Editar Datos perfil
      </ion-label>
    </ion-button>

    <ion-button (click)="logout()"  fill="clear" color="secondary">
      <ion-label class="caption1">
        Cerrar session
      </ion-label>
    </ion-button>


  </div>

</ion-content>
