<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center" color="primary">Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="profile-data">

    <ion-label class="head2 bold">
      Urtzi
    </ion-label>

    <ion-avatar (click)="changeImage()">
      <img *ngIf="profile && profile.imageUrl; else placeholderAvatar;" [src]="profile?.imageUrl" />
      <ng-template #placeholderAvatar>
        <div class="fallback">
          <p>Select avatar</p>
        </div>
      </ng-template>
    </ion-avatar>

  </div>

</ion-content>
