.chat-detail-footer{
  background-color: red;
}

.send-icon-size{
  scale: 2.0;
  padding-right: 10px;
}

.message-text{
  border-radius: 20px;
  padding-inline: 10px;
  padding-top:5px;
  padding-bottom: 5px;
  border:2px solid #2dd55b;
}

.right-align{
  margin-left: auto;
}
