<ion-header class="ion-no-border">
  <div class="padding-top-xs padding-left-xl">
    <ion-label *ngIf="origin" class="head2 bold ion-text-center">Desde donde sales?</ion-label>
    <ion-label *ngIf="destiny" class="head2 bold ion-text-center">A donde vas ?</ion-label>

  </div>
</ion-header>
<ion-content>

  <ion-searchbar [debounce]="1000" [(ngModel)]="searchQuery"
                 (ionInput)="filterAddress()" show-clear-button="always"></ion-searchbar>
  <ion-list lines="none">
    <ion-item detail="true" (click)="openMap(null)">
      <ion-icon slot="start" src="assets/icon/geolocation-icon.svg"></ion-icon>
      <div class="padding-bottom-xs">
        <ion-label class="caption2 bold">Utilizar ubicacion actual</ion-label>
      </div>
    </ion-item>

    <ion-item *ngFor="let result of results" detail="true" (click)="openMap(result)">
      <div class="padding-bottom-xs">
        <ion-label class="caption2 bold">
          {{ result.name }}
          <span *ngIf="result.addressData.province">
            , {{ result.addressData.province }}
          </span>
          <span *ngIf="result.addressData.postcode">
            , {{ result.addressData.postcode }}
          </span>
        </ion-label>
      </div>
    </ion-item>
    <div class="padding-left-l padding-top-l" *ngIf="!results.length">
      No hay resultados
    </div>
  </ion-list>
</ion-content>
