.icon-size {
  scale: 1.5;
}

//.route-line {
//  margin-left: 16px;
//  border-left: 2px solid red;
//  height: 60%;
//}

//.start-point {
//  position: fixed;
//  left: 65px;
//  top: 20px;
//  scale: 1.3;
//}
//
//
//.end-point {
//  position: fixed;
//  left: 65px;
//  bottom: 20px;
//  scale: 1.3;
//}

.price-label {
  width: 100%;
  text-align-last: center;
}

.seats-selector{
  background-color: gray;
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
}
.icons{
  scale: 2.0;
}




