<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/" [text]="'BACK' |translate"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ 'EDIT_PROFILE_DATA.TITLE' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="updateUser()" [formGroup]="userDataForm">

    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="text" [placeholder]=" 'EDIT_PROFILE_DATA.NAME_PLACEHOLDER' | translate " formControlName="name"></ion-input>
    </ion-item>

    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="text" [placeholder]=" 'EDIT_PROFILE_DATA.SURNAME_PLACEHOLDER' | translate " formControlName="surname"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block" [disabled]="!userDataForm.valid">
      {{ 'EDIT_PROFILE_DATA.UPDATE_DATA' | translate }}
    </ion-button>
  </form>
</ion-content>
