<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/" [text]="'BACK' | translate"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ 'EDIT_ACCESS_DATA.TITLE' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="accessDataForm">

    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="text" [placeholder]="'EDIT_ACCESS_DATA.EMAIL_PLACEHOLDER' |translate"
                 formControlName="email"></ion-input>
    </ion-item>
    <div class="padding-left-l padding-bottom-l">
      <ion-text *ngIf="accessDataForm.get('email')?.hasError('email') &&
       (accessDataForm.get('email')?.dirty || accessDataForm.get('email')?.touched)" color="danger">
        {{ 'EDIT_ACCESS_DATA.EMAIL_PATTERN_ERROR' | translate }}
      </ion-text>
    </div>

    <ion-button expand="block" (click)="updateUserEmailAccessData()" [disabled]="!accessDataForm.get('email')?.valid">
      {{ 'EDIT_ACCESS_DATA.UPDATE_EMAIL' | translate }}
    </ion-button>

    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="text" [placeholder]="'EDIT_ACCESS_DATA.NEW_PASSWORD_PLACEHOLDER' |translate"
                 formControlName="password"></ion-input>
    </ion-item>

    <div class="padding-left-l padding-bottom-l">
      <ion-text *ngIf="accessDataForm.get('password')?.hasError('minlength') &&
       (accessDataForm.get('password')?.dirty || accessDataForm.get('password')?.touched)" color="danger">
        {{ 'EDIT_ACCESS_DATA.PASS_MIN_LENGTH' | translate }}
      </ion-text>
    </div>

    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="text" [placeholder]="'EDIT_ACCESS_DATA.REPEAT_PASSWORD_PLACEHOLDER' |translate"
                 formControlName="repeatPassword"></ion-input>
    </ion-item>
    <div class="padding-left-l padding-bottom-l">
      <ion-text *ngIf="accessDataForm.hasError('passwordMismatch') && (accessDataForm.get('repeatPassword')?.dirty
    || accessDataForm.get('repeatPassword')?.touched)" color="danger">
        {{ 'EDIT_ACCESS_DATA.PASS_ND_REPEAT_EQUALS' | translate }}
      </ion-text>
    </div>

    <ion-button expand="block" (click)="updateUserPassAccessData()"
                [disabled]="!accessDataForm.valid">
      {{ 'EDIT_ACCESS_DATA.UPDATE_PASSWORD' | translate }}
    </ion-button>
  </form>
</ion-content>
