<ion-tabs>
  <ion-tab-bar slot="bottom" mode="ios">
    <ion-tab-button tab="search">
      <ion-icon name="car-sport-outline"></ion-icon>
      <ion-label>Tab1</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="publish">
      <ion-icon name="car-sport-outline"></ion-icon>
      <ion-label>Tab2</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <ion-icon name="car-sport-outline"></ion-icon>
      <ion-label>Tab2</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Cuenta</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
