
#leafletMap {
  height: 100%;
}


.container {
  height: 100%;
}

.pinned-position-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; // Adjust the height as needed
}

.pinned-icon {
  scale: 2.0;
}

.pinned-position-container {
  z-index: 500;
  position: fixed;
  margin: auto;
  width: 100%;
}

.floating-set-position-button {
  width: fit-content;
}

.floating-button-div {
  position: fixed;
  bottom: 20px;
  z-index: 501;
  width: 100%;
  display: flex;
  justify-content: center;
}

.loading-position{
  z-index: 500;
  position: fixed;
  margin: auto;
  width: 100%;
  scale: 2.0;
}
