<ion-header class="ion-no-border">
  <ion-buttons slot="start">
    <ion-back-button default-href="/" [text]="'BACK' | translate"></ion-back-button>
  </ion-buttons>
  <div class="padding-top-xs padding-left-xl">
    <ion-label class="head2 bold ion-text-center" *ngIf="origin">Desde donde sales?</ion-label>
    <ion-label class="head2 bold ion-text-center" *ngIf="destiny">A donde vas ?</ion-label>
  </div>
</ion-header>

<ion-content>
  <div id="leafletMap">
    <div class="pinned-position-container" *ngIf="origin || destiny">
      <ion-spinner class="loading-position" color="primary" *ngIf="loadingPosition">
      </ion-spinner>
      <ion-icon src="assets/icon/pinned-point.svg" *ngIf="!loadingPosition" class="pinned-icon"></ion-icon>
    </div>

    <div class="floating-button-div">
      <ion-button (click)="setPosition()" [disabled]="loadingPosition" class="floating-set-position-button">
        <ion-label class="caption1 bold" *ngIf="origin">Selecciona origen</ion-label>
        <ion-label class="caption1 bold" *ngIf="destiny">Selecciona destino</ion-label>
        <ion-label class="caption1 bold" *ngIf="!origin && !destiny">Aceptar Ruta</ion-label>
      </ion-button>
    </div>
  </div>
</ion-content>
